@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card-body h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#nameHero{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
}